.portfolio {
  padding: 100px 0;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "Roboto", sans-serif;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: #333333;
  margin-bottom: 65px;
}
.portfolio-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 0 auto;
}
.portfolio-link img {
  width: 615px;
  height: 315px;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio-link:hover.portfolio-link::after {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}
.portfolio-link {
  position: relative;
  width: 615px;
  height: 315px;
  object-fit: cover;
}
.portfolio-link::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1320px) {
  .portfolio-box {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
  .portfolio-link {
    margin: 0 auto;
  }
}
@media (max-width: 705px) {
  .portfolio-link {
    width: 415px;
    height: 215px;
  }
  .portfolio-link img {
    width: 415px;
    height: 215px;
  }
}
